---
import { Image } from 'astro:assets';
import logomark from '@/assets/branding/logomark.svg';

interface Props {
  size?: 'sm' | 'md' | 'lg' | 'xl';
}

const { size = 'md' } = Astro.props;

const sizes = {
  sm: 'h-8 w-8',
  md: 'h-10 w-10',
  lg: 'h-12 w-12',
  xl: 'h-16 w-16',
};
---

<div class="flex items-center">
  <img src={logomark.src} alt="ClawDaily Logo" class={sizes[size]} />
</div>
